<template>
  <div class="container">
      <h4>Carrito de compras</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acción</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody id="items">
            <ItemCarrito v-for="item in items" :key="item.id" :item="item"/>
        </tbody>
        <tfoot>
          <tr id="footer">
            <th scope="row" colspan="5" v-if="Object.keys(items).length===0">Carrito vacío - comience a comprar!</th>
            <FooterCarrito v-else/>
          </tr>
        </tfoot>
      </table>
      <h4>Cards</h4>
      <div class="row" id="cards"></div>
    </div>
</template>
<script>
import { computed } from "vue";
import ItemCarrito from './ItemCarrito'
import {useStore} from 'vuex'
import FooterCarrito from './FooterCarrito'
export default {
    components:{ItemCarrito, FooterCarrito}
    ,
    setup(){
        const store = useStore()
        const items = computed(()=> store.state.carrito)
        return {items}
    }
}
</script>